/*google-fonts*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;0,900;1,600&family=Rubik:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #404044;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ------------------------
      button style
--------------------------- */
.btn {
    border: 1px solid #ddd;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: popins;
    padding: 12px 30px;
    border-radius: 5px;
}

button:focus {
    outline: 0;
    outline: 0;
}

.btn {
    -moz-user-select: none;
    background: #E44122;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
    padding: 17px 14px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    position: relative;
}

.btn:hover {
    background: #fff;
    color: #E44122;
    border: 2px solid #E44122;
}

.btn-black {
    background: #E44122;
    border: 0;
    color: #fff;
    transition: .3s;
}

.btn-white {
    background: transparent;
    border: 2px solid #ddd;
    height: 47px;
    width: 166px;
    transition: .3s;
}

.btn-white:hover {
    background: #E44122;
    border: 0;
    color: #fff;
}

/*----------------
header-area-start
--------------------*/
#header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-top {
    position: relative;
}

.header-area {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(7, 7, 87);
    transition: .3s;
    position: absolute;
    width: 100%;
}

.header-fl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img {
    max-width: 100px;
}

.header-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    top: 100px;
}

.header-menu ul li {
    display: inline-block;
    margin: 0 20px;
}

.header-menu ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: .3s;
    text-decoration: none;
}

.header-menu ul li:hover > a {
    color: #E44122;
}

/* ------------------
slider-area start
------------------------*/
.slider-img img {
    position: relative;
    top: 80px;
    left: 350px;
}

.single-slider {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.slider-content h1 {
    color: #fff;
    font-size: 62px;
    font-weight: 700;
    margin-bottom: 15px;
}

.slider-content p {
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

.single-slider img {
    width: 60px;
    text-align: center;
    background-repeat: no-repeat;
    margin-bottom: 396px;
}

.slider-active .slick-dots {
    margin-top: -40px;
    position: relative;
    z-index: 9;
}

.slider-active .slick-dots li {
    display: inline-block;
    margin: 0 5px;

}

.slider-active .slick-dots li button {
    font-size: 0;
    height: 13px;
    width: 13px;
    background: #E44122;
    border: 0;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #222;
    cursor: pointer;
}

.slider-active .slick-dots li.slick-active button {
    background: #222;
}

.slick-dots {
    text-align: center;
}

/*-------------------------
   contact-area start
--------------------------*/

.contact-wrappeer {
    display: flex;
    padding: 5px 6px;
    background: #243244ea;
    justify-content: space-around;
    align-items: center;
}

.contact-details h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

.contact-details p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 22px;
    line-height: 26px;
    padding: 0 52px;
}

.icon {
    color: #0A95B6;
    font-size: 26px;
    margin-bottom: 16px;
}

.single-contact.text-center {
    padding-top: 25px;
    padding-bottom: 32px;
}

/*-----------------
  chancellor area start
  ------------------------*/
.chancellor-info h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 22px;
}

.chancellor-info p {
    font-size: 14px;
    line-height: 26px;
    padding: 0 13px;
}

/* section-title */
.section-title h2 {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
}

.section-title p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 50px;
}

/*-----------------
 community area start
 ------------------*/
.community-single {
    overflow: hidden;
    position: relative;

}

.community-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 90px;

}

.community-text h3 {
    color: #fff;
    font-size: 30px;
}

.community-image img {
    height: 293px;
    width: 100%;
    border-radius: 5px;
}

.community-single:hover .community-text {
    display: block;
    height: 100%;
}

.community-single:hover .community-image {
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}

.community-button {
    display: flex;
    justify-content: center;
}

/*-----------------
 services-area start
--------------------- */
.service-area {
    background-image: url(assets/img/service-bg.jpg);
    background-size: cover;
    background-position: center;
}

.service-title p {
    font-size: 18px;
    margin-bottom: 40px;
}

.service-title h2 {
    font-size: 40px;
}

.single-service {
    padding: 0 40px;
}

.service-icon {
    font-size: 30px;
    color: #1f869a;
    margin-bottom: 10px;
}

.service-text h3 {
    font-size: 19px;
    font-weight: 600;
}

.service-text p {
    font-size: 14px;
    line-height: 26px;
}

.service-button {
    padding: 0 361px;
    width: 100%;
    text-align: center;
}


/*----------------------
gallery-area start
---------------------------*/
.gallery-area {
    margin-top: 80px;
}

.gallery-content {
    text-align: center;
    color: gray;
}

.gallery-content p {
    margin-bottom: 50px;
    font-size: 15px;
    margin-top: 18px;
}

img {
    width: 100%;
}

.gallery-single {
    overflow: hidden;
}

.gallery-single:hover img {
    transform: scale(1.5);
    transition: transform 2s ease-in-out;
}

.gallery-btn {
    text-align: center;
}

/*---------------------
tour area start
--------------------------*/
.tour-area {
    width: 100%;
    background: #0191B4;
    padding-bottom: 20px;
}

.tour-heading {
    display: flex;
    margin: 10px 100px;
}

.tour-heading h3 {
    color: white;
    padding-top: 23px;
    line-height: 1;
    font-weight: 500;
    font-size: 27px;
}

.svg-inline--fa.fa-chevron-right.fa-w-10 {
    color: #fff;
    height: 27px;
    width: 27px;
    line-height: 20px;
    text-align: center;
    background: #ddd;
    border-radius: 30px;
    margin-top: 24px;
    margin-left: 5px;
}

/*---------------
footer area start
--------------------*/
.footer-img img {
    margin-bottom: 15px;
}

.footer-icon a {
    font-size: 20px;
    color: #b8bcbf;
    margin-right: 25px;
    transition: .3s;
    margin-top: 25px;
    display: inline-block;
}

.footer-widget ul li a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.footer-widget ul li {
    line-height: 1;
    margin-bottom: 20px;
}

.footer-widget ul li a:hover {
    color: #E4411F;
}

.footer-icon {
    color: #fff;
    font-size: 25px;
    transition: .3s;
    position: relative;
}

.footer-icon :hover {
    color: #E4411F;
}

.copyright-border {
    border-top: 1px solid #dddddd;
    padding: 30px 0;
}

/*--------------------
copyright area start
--------------------*/
.copyright p {
    margin-bottom: 0;
    color: #fff;
}

.copyright-icon {
    color: #fff;
    font-size: 26px;
    display: flex;
    justify-content: space-evenly;

}

.copyright-icon a {
    color: #fff;
    transition: .3s;
}

.copyright-icon a:hover {
    color: #E4411F;
}
